.main-container {
    text-align: center;
    padding-top: 10rem;
    flex-grow: 1; /* Allow the main container to grow to fill remaining space */
}

.main-container h1 {
    font-size: 5rem;
}

.main-container h2 {
    font-size: 2rem;
}

.gest-start {
    justify-content: center;
}

button {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.25s;
}

button:hover {
    color: #FFFFFF;
    background-color: #14213D;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    flex-shrink: 0; /* Prevent the footer from shrinking */
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
    .main-container {
        padding-top: 5rem;
    }

    .main-container h1 {
        font-size: 3.5rem;
    }

    .main-container h2 {
        font-size: 1.5rem;
    }

    button {
        font-size: 1.2rem;
    }

    footer {
        padding: 10px 0;
        font-size: 0.8rem;
    }
}